<%= form_with(model: earthquake, local: true) do |form| %>
  <% if earthquake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(earthquake.errors.count, "error") %> prohibited this earthquake from being saved:</h2>

      <ul>
      <% earthquake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quakeID %>
    <%= form.number_field :quakeID %>
  </div>

  <div class="field">
    <%= form.label :locationSource %>
    <%= form.text_field :locationSource %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
