<%= form_with(model: bigquake, local: true) do |form| %>
  <% if bigquake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bigquake.errors.count, "error") %> prohibited this bigquake from being saved:</h2>

      <ul>
      <% bigquake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :locationSource %>
    <%= form.text_field :locationSource %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :magError %>
    <%= form.text_field :magError %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
