<p id="notice"><%= notice %></p>

<h1>Largest Earthquakes (Past 30 days)</h1>

<%= link_to 'View Earthquakes in the past 7 days', earthquakes_path %>



<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Magnitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bigquakes.each do |bigquake| %>
      <tr>
        <td><%= bigquake.locationSource %></td>
        <td><%= bigquake.latitude %></td>
        <td><%= bigquake.longitude %></td>
        <td><%= bigquake.magError %></td>
        <td><%= link_to 'Show', bigquake %></td>
        <td><%= link_to 'Edit', edit_bigquake_path(bigquake) %></td>
        <td><%= link_to 'Destroy', bigquake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @bigquakes %>
<br>

<%= link_to 'New Bigquake', new_bigquake_path %>




<%= line_chart @bigquakes.group(:locationSource).sum(:magError) %>
